//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// --- Font Family
$font-family-sans-serif: 'Roboto', sans-serif !default;
$font-family-monospace: 'Roboto', sans-serif !default;

// --- Color

$primary: #DC3A61; // Changing primary color
$body-bg: #ffffff;
